* {
    font-weight: 300;
}

.textInput {
    font-size: large;
    border: 1px solid #EEEEEE;
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin: 5px auto;
}

.textInput:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(50, 100, 153);
}

.Radio {
    font-size: small;
}

.Button {
    display: block;
    margin: 10px auto;
    padding: .5rem;
    font-size: 1em;
    background: darkcyan;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.Icon {
    height: 5rem;
    padding: 10px;
}

.Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Marker {
    padding: 10px;
    font-size: 20px;
}